#find-box
	button#find.btn.primary Search
	input#find-input(placeholder='Start writing here...')

#url-container
	button#add.btn.secondary Add new URL
	h2 URL stack
	ul#urls.list
		- each url in urls
			li(data-id=url._id)
				label
					a(href='/url-details/' + url._id) #{url.URL} 

#overview
	#sources
		ul
			li
				a(href='#javascripts') JavaScripts
			li
				a(href='#stylesheets')	Stylesheets
			li
				a(href='#jQuery') jQuery related

		div
			#javascripts
				ul.list

			#stylesheets
				ul.list

			#jQuery		
				ul.list

	.clearfix

.clearfix

#welcome
	.loading