header
	#find-box
		button#find.btn.primary Search
		input#find-input(placeholder='Start writing here...')

#url-container
	button#add.btn.secondary Add new URL
	h2 URL stack
	ul#urls.list
		- each url in urls
			li(data-id=url._id)
				label
					a(href='/url-details/' + url._id) #{url.URL} 

#overview
	#sources
		ul
			li
				a(href='#javascripts') JavaScripts
			li
				a(href='#stylesheets')	Stylesheets
			li
				a(href='#jQuery') jQuery related

		div
			#javascripts
				ul.list

			#stylesheets
				ul.list

			#jQuery		
				ul.list

	.clearfix
.clearfix

footer
	hr
	p ©2011 UPC Broadband
	small Builded with: 
		a(href='http://nodejs.org/') NodeJS
		| , 
		a(href='http://www.mongodb.org/') MongoDB
		| , 
		a(href='http://mongoosejs.com/') Mongoose
		| , 
		a(href='http://www.phantomjs.org/') PhantomJS
		| , 
		a(href='http://expressjs.com/') ExpressJS
		| , 
		a(href='http://jade-lang.com/') Jade
		| , 
		a(href='http://socket.io/') SocketIO
		| , 
		a(href='http://chicoui.com.ar/') Chico UI
		| , 
		a(href='http://code.drewwilson.com/entry/autosuggest-jquery-plugin') Autosuggest jQuery Plugin
		| , 
		| and lots of JavaScript.

#welcome
	.loading