!!! 5
html(lang='en')
	head
		script
		meta(charset='utf-8')
		title #{title}

		link(href='/css/chico.css', rel='stylesheet')
		link(href='/css/mesh.css', rel='stylesheet')
		link(href='/css/autosuggest.css', rel='stylesheet')
		link(href='/css/ph.css', rel='stylesheet')

	body
	body!= body
	
script(src='/js/scr.js')