#add {
	float: right;
	opacity: 0;
	-webkit-transition: opacity .5s linear;
}

#add.visible {
	opacity: 1;
}

#url-container {
	position: fixed;
	left: 30px;
	top: 150px; 
	width: 300px;
	padding: 5px;
	border: solid 1px #fff;
	-webkit-transition: border .5s linear;
}

#url-container:hover {
	border-radius: 5px;
	border: solid 1px #eee;
}

#url-container:hover #add {
	opacity: 1;
}

#urls li:hover {
	background-color: #eee;
}

.options {
	float: right;
	opacity: 0;
	-webkit-transition: opacity .5s linear;
}

li:hover .options {
	cursor: default;
	opacity: 1;
}

#find-box {
	margin: 5px;
	padding: 8px;
	background-color: #eee;
}

#find-input {

}

#as-selections-loco {
 	width: 80%;
}

#find.btn {
	width: 19%;	
	float: right;
}

.hover {
	background-color: #eee;
	border-radius: 5px;
}

.selected {
	background-color: #ccc;
	border-radius: 5px;	
}

.list > li {
	margin: 3px;
	padding: 8px;
}

#overview {
	padding-left: 350px;
}

#javascripts li, #stylesheets li, #jQuery li {
	cursor: pointer;
}

.ch-tabNavigator-content {
	overflow: hidden;
}

#welcome {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	margin-top: 50px;
}

footer {
	position: fixed;
	bottom: 0;
	background: white;
	width: 100%;
}